ul, li{
    display: inline;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}
ul{
    border: 1px solid red;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

h1{
    color: red;
    font-size: 6em;
    text-align: center;
}

@media (min-width:500px){
    h1{
        color: orange;
    }
}
@media (min-width:1000px){
    h1{
        color: green;
    }
}
@media (min-width:1500px){
    h1{
        color: pink;
    }
}

@media (max-width: 768px) {
    nav, nav ul{
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-size: 4em;
    }
}

@media (max-width: 576px) {
    h1{
        font-size: 3em;
    }
}